{%extends billboard_app/base.html%]
{% if user.is_authenticated %}
<div class="content-container">
    {% for post in latest_post_list %}
    <div class="post-wrapper">
        <div class="date">{{post.pub_date|date:"d/m/Y"}}</div>
        <div class="title">{{post.title}}</div>
        <div class="text">{{post.text}}</div>
        <div class="author">{{post.author}}</div>
    </div>
    <div class="no-message">
        No messages... <br/>
        Click the '+' button to add a new message.
    </div>
    {% endfor%}
    <div class="error-container">
        <div class="row">
            <div class="col-md-12">
                <span class="messageOne">No Messages...</span><br/>
                <span class="messageTwo">Click the '+' button to add a new message</span><br/>
            </div>
        </div>
    </div>
    <div class="button-wrapper">
        <button type="submit" class="add btn btn-default" id="add">+</button>
    </div>

    {% endif %}

</div>